.img-fluid {
    max-width: 15rem;
    height: auto;
}
.row {
    height: 100%;
}
.h2, h2 {
    font-size: 3.1rem;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}
.hey {
    font-size: 2rem;
}
.socials{
    width: 3rem;
    fill: white;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;

}
a {
    text-decoration: none;
    color: inherit;
}
a, button:hover {
    cursor: pointer;
}
.skills{
    font-family:'Courier New', Courier, monospace;
}
.about{
    font-size: 1.2rem;
}
ul {
    margin: 0;
    padding: 10px;
    overflow: hidden;
  }
li {
    float: left;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
  }