.img-fluid {
    max-width: 15rem;
    height: auto;
}
.row {
    height: 100%;
}
.h2, h2 {
    font-size: 3.1rem;
}
.hey {
    font-size: 2rem;
}
.socials{
    width: 2rem;
    fill: white;
}
.socials-div{
    padding-top: 8px;
}